.portfolio-cont {
	margin-bottom: 105px;
}

.portfolio {
	display: flex;
	justify-content: space-between;
	&__text {
		max-width: 370px;
	}

	&__h2 {
		font-size: 40px;
		font-family: $montserrat;
		font-weight: 700;
		color: $blue;
		text-transform: uppercase;

		margin-bottom: 3px;
	}

	&__p-blue {
		font-family: $openSans;
		color: $blue;
		font-size: 16px;

		margin-bottom: 20px;
	}

	&__p-grey {
		color: $grey;
		font-family: $openSans;
		font-size: 15px;
		line-height: 22px;

		margin-bottom: 30px;
	}

	&__img {
	background-image: url('../img/mac.png');
	background-repeat: no-repeat;
	background-position: 1%;
	width: 424px;
	height: 300px;
	}

}