$domine: 'Domine', serif;
$montserrat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;

$red: #fa5c65;
$white: white;
$blue: #314a5b;
$grey: #9aa0ab;

$shadow: -1px 10px 11px -1px rgba(0,0,0,0.75);